@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2")format("woff2");
  font-display: swap;
}
@font-face{
  font-family: "PT Sant";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-400.woff2")format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sant", Arial,sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  background-color:#F2F2F2(150, 23%, 95%, 0.979);
  color:#000000;
  box-sizing: border-box;

  min-height: 100%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
 margin: 40px;
 min-height: 100%;
}

.main-index {
  flex-grow: 1;
  max-width: 1200px;

}
html{
  height: 100%;
  min-height: 100%;
  max-width: 1200px;
}

.page-header{
  color: #000000;
  background: #FFFFFF;
}

.navigation {
font-weight:700;
font-size:20px;
line-height: 24px;
text-decoration: none;
display: flex;
margin: 0%;
color:#000000;
align-items: center;
max-width: 1200px;

}

.navigation-list-header {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}

.navigation-link{
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-decoration: none;
color: black;
font-family: "PT Sans Narrow", sans-serif;
text-decoration: none;
text-align: center;
}

.navigation-item-header{
  color: #000000;
  font-size: 20 px;
  font-weight: 700 px;
  line-height: 24 px;
  text-decoration: none;
  margin: 16px 20px;
}

.navigation-item-user{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10px;
background-image: url("../images/search.png") no-repeat center;
margin: 23px 13px 22px 13px;
}

 .navigation-item-like{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 2px 1px 1px;
background-image: url("../images/heart.png") no-repeat center;
 }

.navigation-list-navigation-user{
  padding: 0%;
  margin-left: auto;
  max-width: 250px;
  display: flex;
}
 .button-must{
padding: 8px 34px;
background: #756157;
align-items: center;
text-decoration: none;
font-weight: 700;
font-size: 16px;
line-height: 125%;
text-transform: uppercase;
text-align: center;
color: #FFFFFF;
margin: 14px 70px 14px 20px;


 }

 body-conteiner{
  margin: 0% auto;
  max-width: 1200px;
   }

.must{
font-family: 'PT Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}

.button {
  background-color:hsla;
  font-size: 20px;
  border-radius: 4px;
  line-height: 24px;
  text-decoration: none;
  color:rgba(177, 14, 14, 0.986)
  }

  .main {
    flex-grow: 1;
    min-height: 485px;
    background:#F2F2F2;
    background-image: url("../images/welcome_continuation.svg")format("woff2");
      }

.about-sedona{
background-image: url("../images/background.png");
background-size:cover ;
background-repeat: no-repeat;
background-position: center;
background-color: #F2F2F2;
}
.welcome{
  display: block;
  margin: auto;
  padding: 51px 20px 87px;
}

.description-sedona{
  padding:  69px 290px 126px 290px;
  max-width: 1200 px;
}
.description-sedona-h2{
  text-align: center;
  background: #FFFFFF;
  color: #000000;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
}

.description-sedona-p{
margin:0px 15px 69px;
font-family: 'PT Sans';
font-style: normal;
line-height: 26px;
text-align: center;
font-weight: 400;
font-size: 22px;
text-align: center;
color: #333333;
}

.collection-contact{
  margin : 0;
  padding: 96px 0 ;
  background:#F2F2F2;
  text-align:center;
}
.p-collection-contact{
  max-width: 592px;
  margin: 20px auto;
  font-weight: 400;
  font-size: 22px;
  line-height: 118%;
  text-align: center;
}
.search-sedona{
  display: flex;
  height: 52px;
  width: fit-content;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  background: #756157;
  border: 4px;
  text-transform: uppercase;
  padding: 8px 50px;
  box-sizing: border-box;
  margin:54px auto 0;

}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.appoitment-title {
display: flex;
}

.advantages-dark-first{
  background-color: #82B3D3;
  color: #FFFFFF;
  max-width: 175px;
  padding: 102px 84px;
  display: flex;
  justify-content: space-between;
}

.advantages-dark-last{
  background-color: #82B3D3;
  color: #FFFFFF;
  max-width: 400px;
  padding: 102px 75px;
  box-sizing: border-box;
  justify-content: space-between;
}

.advantages{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #222;
  display: flex;
  text-align: center;
  display: flex;
  justify-content: space-between;
 flex-direction: column;
 align-items: flex-start;
 padding: 0px;
 background: #FFFFFF;
 flex-direction: row;
 max-width: 1200px;
   }

.advantages-midle{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 103px 85px;
background: rgba(131, 179, 211, 0.2);
justify-content: space-between;
}

.advantages-list-main{
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
}

.advantages-dark{
  background-color: #82B3D3;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
    flex-direction: column;
}

.advantages-light-first{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: rgba(131, 179, 211, 0.12);
max-width: 400px;
padding: 100px 75px;
box-sizing: border-box;
justify-content: space-between;
}

.advantages-light-midle{
max-width: 400px;
padding: 100px 75px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: rgba(131, 179, 211, 0.2);
box-sizing: border-box;
justify-content: space-between;
}

.advantages-light-last{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 100px 75px;
background: rgba(131, 179, 211, 0.12);
max-width: 400px;
box-sizing: border-box;
justify-content: space-between;
  }


.h3{margin: 0 0 30px;
text-align: center;}


.h3-light{
font-family: 'PT Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
color: #000000;
}
.advantages-description-light{
font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #333333;
}

.h3-advantages-dark {
font-family: 'PT Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}
.p-advantages-dark{
font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #FFFFFF;
}

.welcome-sedona{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 64px 0px;

}

.advantages-description{
font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;
text-align: center;
color: #333333;
margin: 0px  0px 20px;
}

.h2{
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
   color: #000000;

}


.home{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 81px 85px;
background: rgba(131, 179, 211, 0.12);
box-sizing: border-box;

}

.food{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 80px 85px;
box-sizing: border-box;
}
.present{
background: rgba(131, 179, 211, 0.12);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 80px 85px;
background: rgba(131, 179, 211, 0.12);
box-sizing: border-box;
}

.services-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  text-transform: uppercase;
  text-align: center;
}

.advantages-description{
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
  text-align: center;
}

.p-newsletter{
  font-weight: 400;
  font-size: 22px;
  line-height: 118%;
  text-align: center;
  text-align: center;
  color: #FFFFFF;
  margin: 20px 0 0 ;
  max-width: 475;
}

.h2-newsletter{
color: #FFFFFF;
font-weight: 700;
font-size: 30px;
line-height: 120%;
text-transform: uppercase;
margin: 0 ;
}

.newsletter{
  margin : 0;
  padding: 96px 0 ;
  text-align:center;
  background-image: url("../images/subscribe-letter.png");
  background-color: #756157;
  background-size:cover ;
  background-repeat: no-repeat;
  background-position: center;
}
.user-email-letter{
font-weight: 400;
font-size: 18px;
line-height: 133%;
}
.button-newsletter-button{
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;
  text-transform: uppercase;
  text-align: center;

  font-family:inherit ;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82b3d3;;
  border: 4px;
  text-transform: uppercase;
  box-sizing: border-box;

  margin:54px auto 0;
}

.button-newsletter-email{
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
  border: 4px;
  text-transform: uppercase;
  padding: 14px 345px
   20px;
  box-sizing: border-box;
  max-width: 452px;
  margin:54px auto 0;
  }

  a {
 color:inherit;
 font-family:inherit ;
 text-decoration: none;
  }
  .footer-social-list {
    margin: 45px 35px 7px;
    padding: 0%;
  }
  .footer-phone{
    font-weight: 400;
font-size: 40px;
line-height: 100%;
text-transform: uppercase;
text-align: center;
margin: 45px  35px;
color: inherit;
  }

 .inner-header-title{font-weight: 700;
  font-size: 60px;
  line-height: 130%;}

  .catalog-filter-group{
    font-weight: 700;
font-size: 20px;
line-height: 120%;
text-transform: capitalize;
  }
  .control{
    font-weight: 400;
font-size: 18px;
line-height: 128%;
  }

  .button apply-button{
    font-weight: 700;
    font-size: 20px;
    line-height: 180%;
    text-transform: uppercase;
    text-align: center;

    font-family:inherit ;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #82b3d3;;
    border: 4px;
    text-transform: uppercase;
    box-sizing: border-box;
    margin:54px auto 0;
  }

.select-control{
  font-weight: 400;
font-size: 18px;
line-height: 117%;

}

.hostel-like{
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  box-sizing: border-box;
  color: #000000;
}

.product-card-title{
  font-weight: 700;
font-size: 24px;
line-height: 117%;
color: inherit;
text-decoration: none;
margin: 16px;
}

.inner-bacgraund{
  background-image: url("../images/back-filtr-catalog.png");
  background-repeat: no-repeat;
  color: #FFFFFF;
  background-color: #756157;
}

.li-fact{
display: flex;
flex-direction : row;
flex-direction: row-reverse;
justify-content: space-between;
}

.button-apply-button{
font-weight: 700;
font-size: 16px;
line-height: 125%;
text-transform: uppercase;
text-align: center;
    font-family:inherit ;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #82b3d3;;
    border: 4px;
    text-transform: uppercase;
    box-sizing: border-box;
    margin:54px auto 0;
  }
 .button-reset-button{
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  font-family:inherit ;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #FFFFFF;
  background-color: transparent;
  padding: 8px 57px ;
  border: 4px;


 }

 .product-card-button-button{
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  padding: 8px 26px;
  background-color: #756157;

 }


 .product-card-button-button-like{
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  padding: 8px 20px;
  background-color: #82B3D3;
 }

 .product-list{
  display: flex;
 }


 .pagination{
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  box-sizing: border-box;
background-color: F2F2F2;
  padding: 11px 12px;
 }

 .page-footer-container{
  display: flex;
  width: 1200px;
  margin: 0 auto;
 }

 .footer-social-list{
  margin: 0 auto;
width: 142px;
 }
 .footer-phone{
  margin: 0 auto;
  width: 331px;
   }
   .footer-logo{
    margin: 0 auto;
    width: 115px;
     }
